div 
{
   cursor:hand;
display:none;
}
#carmea1
{
      position:absolute;
            top:20px;
            left:30px;
}
#carmea2
{
      position:absolute;
            top:180px;
            left:120px;
}

#carmea3
{
      position:absolute;
            top:122px;
            left:20px;
}

#carmea4
{
      position:absolute;
            top:182px;
            left:60px;
}
#carmea5
{
      position:absolute;
            top:152px;
            left:90px;
}

#carmea6
{
      position:absolute;
            top:102px;
            left:110px;
}

#carmea7
{
      position:absolute;
            top:22px;
            left:120px;
}

#carmea8
{
      position:absolute;
            top:22px;
            left:220px;
}
#carmea9
{
      position:absolute;
            top:6px;
            left:270px;
}
#carmea10
{
      position:absolute;
            top:6px;
            left:310px;
}
#carmea11
{
      position:absolute;
            top:80px;
            left:310px;
}
#carmea12
{
      position:absolute;
            top:130px;
            left:230px;
}
#carmea13
{
      position:absolute;
            top:140px;
            left:270px;
}
#carmea14
{
      position:absolute;
            top:160px;
            left:310px;
}
#carmea15
{
      position:absolute;
            top:260px;
            left:220px;
}
#carmea16
{
      position:absolute;
            top:260px;
            left:50px;
}
#carmea17
{
      position:absolute;
            top:320px;
            left:10px;
}
#carmea18
{
      position:absolute;
             top:300px;
            left:40px;
}
#carmea19
{
      position:absolute;
             top:390px;
            left:50px;
}
#carmea20
{
      position:absolute;
             top:450px;
            left:20px;
}
#carmea21
{
      position:absolute;
             top:410px;
            left:250px;
}
#carmea22
{
      position:absolute;
             top:320px;
            left:240px;
}
#carmea23
{
      position:absolute;
             top:300px;
            left:290px;
}
#carmea24
{
      position:absolute;
             top:260px;
            left:330px;
}
#carmea25
{
      position:absolute;
             top:480px;
            left:350px;
}
#carmea26
{
      position:absolute;
             top:470px;
            left:280px;
}
#carmea27
{
      position:absolute;
             top:480px;
            left:520px;
}
#carmea28
{
      position:absolute;
             top:420px;
            left:510px;
}
#carmea29
{
      position:absolute;
             top:300px;
            left:490px;
}
#carmea30
{
      position:absolute;
             top:370px;
            left:430px;
}
#carmea31
{
      position:absolute;
             top:370px;
            left:590px;
}
#carmea32
{
      position:absolute;
             top:280px;
            left:670px;
}
#carmea33
{
      position:absolute;
             top:240px;
            left:460px;
}
#carmea34
{
      position:absolute;
             top:170px;
            left:360px;
}
#carmea35
{
      position:absolute;
             top:120px;
            left:370px;
}
#carmea36
{
      position:absolute;
             top:115px;
            left:495px;
}
#carmea37
{
      position:absolute;
             top:105px;
            left:625px;
}
#carmea38
{
      position:absolute;
             top:35px;
            left:625px;
}
#carmea39
{
      position:absolute;
             top:25px;
            left:495px;
}
#carmea40
{
      position:absolute;
             top:35px;
            left:365px;
}
#carmea41
{
      position:absolute;
             top:225px;
            left:645px;
}
#carmea42
{
      position:absolute;
             top:135px;
            left:660px;
}
#carmea43
{
      position:absolute;
             top:145px;
            left:545px;
}
#carmea44
{
      position:absolute;
             top:65px;
            left:675px;
}
#carmea45
{
      position:absolute;
             top:15px;
            left:715px;
}
#carmea46
{
      position:absolute;
             top:235px;
            left:715px;
}
#carmea47
{
      position:absolute;
             top:345px;
            left:720px;
}
#carmea48
{
      position:absolute;
             top:445px;
            left:620px;
}
#carmea49
{
      position:absolute;
             top:485px;
            left:670px;
}
#carmea50
{
   position:absolute;
             top:415px;
            left:160px;
}
#carmea51
{
      position:absolute;
             top:475px;
            left:728px;
}
