body{font-size:12px;}
span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
 ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #111;}
 ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;}
 ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(dropdown_linkbg.gif) no-repeat 10px center; }
#header img {margin: 20px 0 10px;}
#progressidv{display:none;width:136px;height:10px;}
#bgDiv {
width:10%;
    height:10%;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right:0px;
    background-color: #000;
    z-index:2000;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
}
#mybkdiv {
	width:500px;
	height:1000px;
	line-height:500px;
	border:1px solid #ccc;
	display: none;
	position:absolute;
	background-color: #000;
    z-index:1998;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
	text-align:center;
	margin:auto
	}
#regDiv
{
	width:500px;
	height:1000px;
	line-height:500px;
	border:1px solid #ccc;
	display: none;
	position:absolute;
	background-color: #000;
    z-index:1998;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
	text-align:center;
	margin:auto
	}
#mydivp {
	position:static;
	top:70%
	}
#myShowImg {
	position:static;
	top:-70%;left:-50%;

	vertical-align:middle
	}
p:after {
	content:".";font-size:1px;
	visibility:hidden
	}

#log_windows
{
	   position: absolute;
	   bottom:0px;
	   left:0px;
}
#divbootombar
{
	   bottom:0px;
	   left:0px;
	   width:100%;
	   height:4px;
	   background-image:url(../lqnew/logwindow/pic/3.jpg);
	   background-repeat:repeat;
       position:absolute;
       z-index:2000;
       overflow:hidden;
}
#diveageye
{
	   bottom:120px;
	   right:0px;
	   width:153px;
	   height:19px;
       position:absolute;
       background-image:url(../lqnew/logwindow/pic/haykeye.gif); 
	z-index:2;
}
#diveageyeleft
{
	   bottom:0px;
	   right:150px;
	   width:3px;
	   height:120px;
       position:absolute;
       background-image:url(../lqnew/logwindow/pic/3.jpg);
	   background-repeat:repeat;
	   	z-index:2;
}
#diveageyetop
{
	width:62px;
	height:19px;
	position:absolute;
	bottom:123px;
	right:0px;
	z-index:100;
}
#ifr_callcontent
{
	bottom:2px;
	position:absolute;
	width:100%;
	z-index:2;
	height:92px;
	text-align:center;

}
#toggleFatSatelit{float: left;position:absolute;top:40px;right:76px;width:100px;color:White;z-index:21}
#toggleFatSatelit ul{list-style-type:none;margin:0px;padding:0px;height:25px;vertical-align:middle;line-height:25px;margin-top:2px;}
#toggleFatSatelit ul li{margin:0px;display:inline;width:50px;margin-left:6px; font:12px/1.5 arial}
#toggleFatSatelit ul li:hover{color:#35f83a;}
#nowtrace{position:absolute;width:600px;height:50px;z-index:999;display:none;}
 #bzmenu{position:absolute;width:90px;z-index:999;bottom:60px;margin-top:0px;text-align:center;display:none;}