<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DagdbConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=Dagdb;uid=sa;pwd=sa" providerName="System.Data.SqlClient" />
    <add name="DagdbEntities" connectionString="metadata=res://*/LogModule.LogModel.csdl|res://*/LogModule.LogModel.ssdl|res://*/LogModule.LogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=Dagdb;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="AdoNetAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <!--dynamic create Log document-->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="&#xA;-------------------------------[Header]---------------------&#xA;" />
        <param name="Footer" value="&#xA;-------------------------------[Footer]---------------------&#xA;" />
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <system.web>
    <caching>
      <cache disableExpiration="false" disableMemoryCollection="false" />
      <outputCache enableOutputCache="false" />
    </caching>
    <customErrors mode="Off" defaultRedirect="errpage.htm" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <!--<trace enabled="true" pageOutput="false" requestLimit="20" traceMode="SortByTime" localOnly="true"/> -->
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpModules>
      <add name="LoginModule" type="EastHttpModule.LoginModule,EastHttpModule" />
    </httpModules>
    <httpRuntime maxRequestLength="1000000" maxQueryStringLength="1000000" requestValidationMode="2.0" />
    <pages validateRequest="false" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=EmulateIE8" />
      </customHeaders>
    </httpProtocol>
    <caching enabled="false" enableKernelCache="false" />
    <modules>
      <add name="LoginModule" type="EastHttpModule.LoginModule,EastHttpModule" />
    </modules>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="login.html" />
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="m_connectionString" value="Data Source=127.0.0.1;Initial Catalog=Dagdb;uid=sa;pwd=sa" />
    <!--Lose Login Time;unit is minute-->
    <add key="login_overtime" value="0" />
    <!--mapGray let css's color is gray,false is normal,true is gray-->
    <add key="mapGray" value="false" />
    <add key="defaultLanguage" value="zh-CN" />
    <!--zh-CN en-US-->
    <add key="logconfigpath" value="Config/LogConfig.xml" />
    <add key="publishtime" value="2019-03-08" />
    <add key="version" value="V6.7.0.0" />
    <add key="apiversion" value="V6.7.0.0" />
    <add key="ApplicationName" value="eTRA Dispatch Application GIS" />
    <add key="entityinformation" value="shenyang" />
    <add key="copyright" value="© 2012 Eastcom,Inc.All rights reserved." />
    <!--log Level,0 is the bigest level,print all log-->
    <add key="loglevel" value="0" />
    <!--user can create stockade'count-->
    <add key="StockadeCount" value="10" />
    <add key="BSMemberCount" value="32" />
    <!--pjmember'count-->
    <add key="PjMemberCount" value="32" />
    <add key="PjCount" value="8" />
    <add key="DxCount" value="3" />
    <!-- is contain Group can receipt,1 is can receipt，0 is can't receipt-->
    <add key="BackForSendGroupMsg" value="0" />
    <!--cookie's overtime ,Unit is minute-->
    <add key="CookOutTime" value="14400" />
    <add key="OpenWindow" value="1" />
    <!--1kai,0guan-->
    <add key="IsCheckbox" value="0" />
    <!--屏幕切分数-->
    <add key="scnSliceCount" value="16" />
    <!--单个屏幕格子内超过一定数目采用模糊显示，初始值为50-->
    <add key="theCountToMoHu" value="25" />
    <add key="GroupPcCount" value="50" />
    <!--超过此时间值为虚线链接(单位秒)-->
    <add key="TimeInterval" value="25" />
    <!--超过此距离值为GPS异常点（单位千米）-->
    <add key="UnnormalDistance" value="50" />
    <!--Emap地址PGIS/WEBGIS/ARCGIS-->
    <add key="GISTYPE" value="webgisno" />
    <!--OpenFinancial-->
    <add key="OpenFinancial" value="true" />
    <!--Emap地址ARCGIS http://10.8.59.253:6080/arcgis/rest/services/hangzhou/MapServer/WMTS-->
    <!--文山  http://10.169.115.22/PGIS_S_TileMapServerV7/WMTS-->
    <!--兰州 http://192.168.21.8:9080/EzServer7/WMTS-->
    <add key="Mapurl" value="http://10.8.59.197:8082/" />
    <!--地图偏差-->
    <add key="deviation_lo" value="0" />
    <add key="deviation_la" value="0" />
    <add key="deviation_lo_Hybrid" value="0" />
    <add key="deviation_la_Hybrid" value="0" />
    <!--EGIS地图最大层数-->
    <add key="maxLevel" value="10" />
    <!--EGIS地图最小层数-->
    <add key="minLevel" value="0" />
    <add key="currentLevel" value="7" />
    <!--地图图片格式(jpg或png) 修改过的新版本不需要再加点号-->
    <add key="maptype" value="png" />
    <!--wssl LZSL-->
    <add key="mapsize" value="200" />
    <!--PGIS地图偏差-->
    <add key="PGIS_deviation_lo" value="0" />
    <add key="PGIS_deviation_la" value="0" />
    <!--PGIS中心点-->
    <add key="PGIS_Center_lo" value="120.1727667529" />
    <add key="PGIS_Center_la" value="30.2286735631" />
    <!--PGIS地图对应API索引-->
    <add key="PGIS_Normal_index" value="0" />
    <add key="PGIS_HYBRID_index" value="1" />
    <!--PGIS起始层-->
    <add key="PGIS_StartLayer" value="0" />
    <!--查询布控参数设置-->
    <add key="CXBKKilometres" value="1" />
    <!--开启登录认证-->
    <add key="LoginAuthentication" value="false" />
    <!-- 配置外部认证的主机和端口号 -->
    <add key="AuthenticationURL" value="http://10.8.56.58/SAC/SSO/identification.action" />
    <!-- 配置登录角色 -->
    <add key="LoginRole" value="0" />
    <!-- 图片上传服务器 -->
    <add key="UPloadpicServers" value="http://127.0.0.1:8080" />
    <!-- 金鹏视频IP地址 -->
    <add key="VideoIp" value="172.26.230.74" />
    <!-- 组快捷键 -->
    <add key="GroupShortcutKey" value=";;;;;;;;;" />
    <!-- 气泡参数设置 -->
    <add key="UsermessageKey" value="Unit|Longitude|Latitude|GPSStatus|SendMSGTIME|TerminalType|telephone|position|Remark" />
    <!-- 警员数量限制 -->
    <add key="UserLimitCount" value="200" />
    <!-- 基站头部警员类型 -->
    <add key="PoliceType" value="火警" />
    <!-- 是否显示基站警员信息 -->
    <add key="IsBasestationHeadInformation" value="True" />
    <!-- 是否开启基站聚合 -->
    <add key="IsBaseStationLayerCluster" value="True" />
    <!-- 基站聚合距离 -->
    <add key="BaseStationClusterDistance" value="100" />
    <!-- 基站聚合半径 -->
    <add key="BaseStationClusterRaduis" value="20" />
    <!--原点坐标一般为地图范围最左上角落的坐标-->
    <add key="OriginLo" value="119.91913232154732" />
    <add key="OriginLa" value="30.44387508860946" />
    <!--场强配置参数-->
    <add key="FieldStrength" value="energy|signalup|signaldown" />
    <!-- 是否开启摄像头 -->
    <add key="IsCameraLayerCluster" value="True" />
    <!-- 摄像头聚合距离 -->
    <add key="CameraClusterDistance" value="100" />
    <!-- 摄像头聚合半径 -->
    <add key="CameraClusterRaduis" value="20" />
    <!-- 呼叫加密 -->
      <add key="CallEncryption" value="" />
  </appSettings>
</configuration>